@import "bootstrap";

  html, body {
      height: 100%;
  }
  footer {
      color: #777777;
      background: #eeeeee;
      padding: 17px 0 18px 0;
      border-top: 2px solid #CACACA;
  }
  footer a {
      color: #999;
  }
  footer a:hover {
      color: #efefef;
  }
  .wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -63px;
  }
  .push {
      height: 63px;
  }
  /* not required for sticky footer; just pushes hero down a bit */
  .wrapper > .container {
      padding-top: 0px;
  }