<!DOCTYPE html>
<html>
  <head>
    <title>PTR Election Night Results</title>
    <link href='/assets/application.css' media='all' rel='stylesheet' type='text/css'>
    <script src='/assets/application.js' type='text/javascript'></script>
  </head>
  <body style='margin-top:0px;padding-top:15px;'>
    <div class='wrapper'>
      <div class='container'>
        <div class='jumbotron'>
          <h1>MVP for Canvass project</h1>
          <h4>Please click button to get report for jurisdiction.</h4>
        </div>
        <div class='row'>
          <div class='span12'>
            <h3>Available Jurisdictions</h3>
            <table class='table table-condensed'>
              <thead>
                <tr>
                  <th>Jurisdiction</th>
                </tr>
              </thead>
              <tbody>
                <% @jurisdictions.each do |jurisdiction| %>
                  <tr>
                    <td>
                      <%= jurisdiction.name.upcase %>
                    </td>
                    <td>
                     <%= link_to "Get Report", print_report_path(:format => 'pdf', :id => jurisdiction.id), {class: 'btn btn-default', method: :get} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
